{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
<nav class="navbar navbar-expand-lg navbar-dark navbar-color {% if request.path == '/sobre/' %}custom-navbar-color{% endif %}">
    <div class="container dynamic-container">
        <!-- Logo -->
        <a class="navbar-brand fs-4"><img src="{% static 'img/t8logo.png' %}" alt="Tekken 8 Logo" width="40" height="40"></a>
        <a class="navbar-brand logo-title dynamic-font-size" href="{% url 'index' %}">
            <span class="title-color-a">Tekken</span>
            <span class="title-color-b">Hub</span>
        </a>
        <!-- Toogle Button -->
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Sidebar -->
        <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <!-- Sidebar Header -->
            <div class="offcanvas-header text-white border-bottom">
                <a class="navbar-brand fs-4"><img src="{% static 'img/t8logo.png' %}" alt="Tekken 8 Logo" width="40" height="40"></a>
                <h5 class="offcanvas-title logo-title" id="offcanvasNavbarLabel">
                    <span class="title-color-a">Tekken</span>
                    <span class="title-color-b">Hub</span>
                </h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- Sidebar Body -->
            <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1"> <!-- pe-3 -->
                    <!-- <li class="nav-item max-2">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> -->
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if request.path == '/personagens/' %}active{% endif %}" href="{% url 'personagemList' %}">Personagens</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if request.path == '/mapas/' %}active{% endif %}" href="{% url 'mapas' %}">Mapas</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if request.path == '/mecanicas/' %}active{% endif %}" href="{% url 'mecanicas' %}">Mecânicas</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if request.path == '/glossario/' %}active{% endif %}" href="{% url 'glossario' %}">Glossário</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if request.path == '/patch_notes/' %}active{% endif %}" href="{% url 'patch_notes' %}">Patch Notes</a>
                    </li>
                </ul>
                <!-- About -->
                <div class="d-flex flex-column flex-lg-row align-items-center gap-3">
                    <a href="{% url 'sobre' %}" class="text-white text-decoration-none px-3 py-1 rounded-4 about-button">Sobre</a>
                </div>
            </div>
        </div>
    </div>
</nav>